.aboutCont {
  display: flex;
  gap: 22px;
  min-height: calc(100vh - 160px);
  justify-content: center;
  align-items: center;
}

.loadCont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutImg {
  width: 350px;
  height: 450px;
  position: relative;
}
.aboutImg img {
  object-fit: cover;
}

.aboutSect p {
  margin-top: 10px;
  max-width: 55ch;
}
