.hero {
  width: 100vw;
  height: 480px;
  object-fit: cover;
  position: relative;
  background-color: #777;
}

.hero img {
  object-fit: cover;
}

.title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.blogSide {
  display: flex;
  gap: 55px;
}

.blogsList {
  display: flex;
  flex: 11;
  flex-direction: column;
  gap: 64px;
}
